.cabecera {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; /* Altura fija del cabecero */
    background-color: #f0f0f0; /* Color de fondo para referencia */
}

.cabecera__figure {
    margin: 0;
    width: 80%; /* Ajusta el ancho de la imagen al 80% del cabecero */
    text-align: center;
}

.cabecera__imagen {
    max-width: 100%;
    height: 0,5rem;
    border: 5px solid #333; /* Borde de referencia */
    border-radius: 10px; /* Bordes redondeados */
}