:root{
    --backgroundColor: white;
    --widthButton:8rem;
    --widthImg:25%;
    --fontFamily:"Montserrat", serif;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fontFamily);
}

.encabezado {
    display: flex;
    font-size: 1rem;
    color: aqua;
    font-family: var(--fontFamily);
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10rem;

}

.encabezado__tit {
    margin-top: 2rem;
}

.encabezado__botones {
    margin-top: 2rem;
}

.encabezado__botones__lista {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.encabezado__botones__lista__a {
    display: flex;
    color: black;
    text-decoration: none;
    margin-left: 1rem;
}

.background {
    text-align: center;    
}